@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif", serif !important;
}

/* light theme styles */
.lighttext {
  color: #cdcdcd !important;
}

.primarybg {
  background-color: #3c4396 !important;
}

.primarytext {
  color: #3c4396 !important;
}

.secondarybg {
  background-color: #499bfe !important;
}

.secondarytext {
  color: #499bfe !important;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.primary-btn {
  background-color: #3c4396;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff !important;
  transition: 0.4s all;
  display: inline-block;
}
.primary-btn:hover {
  background-color: #499bfe;
}

.secondary-btn {
  background-color: #499bfe;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff !important;
  transition: 0.4s all;
  display: inline-block;
}
.secondary-btn:hover {
  background-color: #3c4396;
}

.shadow {
  box-shadow: 0px 2px 10px #d8d8d8 !important;
}

.xsmall {
  font-size: 0.8rem;
}

.herosec header {
  z-index: 9999;
}
.herosec header .navbar .nav-link {
  color: #ffffff !important;
  padding: 7px 15px;
  border-radius: 10px;
  transition: 0.4s all;
  font-size: 0.9rem;
}
.herosec header .navbar .nav-link:hover {
  color: #ffffff !important;
  background-color: #3c4396;
}
.herosec .swiper-slide {
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
}
.herosec .swiper-slide::after {
  background-color: #3c4396;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  opacity: 0.2;
}
.herosec .swiper-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.herosec .swiper-slide .hero-text {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.counter .icon-3d {
  top: -30px;
  right: -50px;
}
.counter .items {
  border-radius: 10px 50px 10px 10px;
}
.counter .items .img-box {
  width: 140px;
  height: 100%;
}
.counter .items .img-box img {
  width: 42px;
}

.principal .prin-box .principl-img {
  width: 500px;
  right: 0;
  bottom: 0;
}

.offer .offer-box {
  transition: 0.4s all;
}
.offer .offer-box:hover {
  background-color: #499bfe;
}
.offer .offer-box:hover p {
  color: #ffffff !important;
}
.offer .offer-box:hover .icon {
  background-color: #ffffff;
  color: #499bfe;
}
.offer .offer-box .icon {
  transition: 0.4s all;
  background-color: rgba(255, 255, 255, 0.28);
  width: 64px;
  padding: 17px 0px;
  border-radius: 100px;
  color: #ffffff;
}

.teachers a {
  transition: 0.3s all;
  border: 1px solid #499bfe;
}
.teachers a:hover {
  background-color: rgba(243, 243, 243, 0.347);
  border: 1px solid #3c4396;
}
.teachers .all-btn {
  border: none;
}
.teachers .all-btn i {
  background: linear-gradient(to right, #3c4396, #499bfe);
  padding: 20px 21px;
  color: #ffffff;
  font-size: 1.4rem;
  transition: 0.4s all;
}
.teachers .all-btn:hover {
  border: none;
  background-color: transparent;
}
.teachers .all-btn:hover i {
  background: #3c4396;
}
.teachers .pink-box {
  background: linear-gradient(30deg, rgb(255, 192, 231), rgb(255, 0, 140));
}
.teachers .orange-box {
  background: linear-gradient(30deg, rgb(255, 153, 109), rgb(255, 120, 36));
}
.teachers .blue-box {
  background: linear-gradient(30deg, rgb(135, 191, 255), rgb(0, 123, 255));
}
.teachers .purple-box {
  background: linear-gradient(30deg, rgb(243, 132, 255), rgb(195, 0, 216));
}
.teachers .green-box {
  background: linear-gradient(30deg, rgb(189, 255, 132), rgb(118, 243, 8));
}
.teachers .SandyBrown-box {
  background: linear-gradient(30deg, rgb(247, 195, 150), rgb(245, 149, 64));
}
.teachers .black-box {
  background: linear-gradient(30deg, rgb(123, 123, 123), rgb(22, 22, 22));
}
.teachers .red-box {
  background: linear-gradient(30deg, rgb(255, 118, 118), rgb(255, 0, 0));
}
.teachers .SlateBlue-box {
  background: linear-gradient(30deg, rgb(174, 162, 250), rgb(106, 90, 205));
}
.teachers .SeaGreen-box {
  background: linear-gradient(30deg, rgb(102, 207, 148), rgb(46, 139, 87));
}
.teachers .brown-box {
  background: linear-gradient(30deg, rgb(233, 119, 119), rgb(165, 42, 42));
}

.gallery img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #499bfe;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  z-index: 1;
  width: 95%;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto 40px auto;
}
footer .links {
  padding: 0;
  list-style-type: none;
}
footer .links li {
  line-height: 2;
}
footer .links li a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.4s all;
}
footer .links li a:hover {
  color: #3c4396;
}
footer .footer-newsletter-form .form-group {
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
footer .footer-newsletter-form .form-group .form-control {
  width: 100%;
  padding: 14px 20px;
  background: #fff8f6;
  border: none;
  border-radius: 100px;
  box-shadow: none;
}
footer .footer-newsletter-form .form-group .section-icon-btn {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translate(46px, -50%);
  border: none;
  padding: 16px;
  border-radius: 100px;
  display: flex;
}
footer .social-media a {
  transition: 0.4s all;
  border: 1px solid #3c4396;
  width: 48px;
  text-align: center;
  padding: 12px 0px 12px 0px;
  border-radius: 34px;
  display: inline-block;
  font-size: 0.9rem;
}
footer .social-media a:hover {
  background-color: #3c4396;
  color: #499bfe;
}

.contact .mdp-our-contacts ul {
  list-style-type: none;
}

.title-sec {
  background: url(../images/title.jpg) no-repeat center/cover;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.title-sec h1 {
  padding: 8rem 0rem;
  font-weight: 700;
}
.title-sec::after {
  background-color: #000000;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}

.admission-form form .form-control {
  padding: 10px;
  background-color: rgba(246, 246, 246, 0.365);
  border: 1px solid rgb(226, 226, 226);
  transition: 0.4s all;
}
.admission-form form .form-control:focus {
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.1215686275);
  background: #fff;
  border: 1px solid #3c4396;
}
.admission-form form .form-select {
  padding: 10px;
  background-color: rgba(246, 246, 246, 0.365);
  border: 1px solid rgb(226, 226, 226);
}
.admission-form form .form-select:focus {
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.1215686275);
  background: #fff;
  border: 1px solid #3c4396;
}/*# sourceMappingURL=style.css.map */